@import url('flaticon.css');

.navbar-light .wsmenu > .wsmenu-list > li > a.h-link {
    color: #090808;
}

.desktoplogo {
    margin: 15px 0 0 -95px;
}

.scroll .logo-black img{
    width: 185px;
    margin-bottom: 20px;
}

.desktoplogo img {
    max-width: inherit;
    max-height: 140px;
}

img.footer-logo,
img.footer-logo-dark {
    max-width: inherit;
    max-height: 140px;
}

.footer-info img {
    width: 215px;
}

.btn-primary {
    display: inline-block; /* Ensure the button is displayed */
    background-color: #007bff; /* Primary color */
    color: white; /* Text color */
    border: none; /* Remove border */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

td.ico-20.color--theme .flaticon-check.text-success {
    color: #28a745 !important; /* Ensure the color is applied */
}



