.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff;
}

.dropdown-menu {
    background-color: #343a40;
    border-color: #343a40;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    background-color: #007bff;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: #343a40;
    color: #fff;
}

.avatar-wrapper{
    position: relative;
    height: 150px;
    width: 150px;
    margin: 5px 5px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all .2s ease;
    background: #ECF0F1;
    &:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
    &:hover .profile-pic{
        opacity: 0;
    }
    .profile-pic {
        height: 100%;
        width: 100%;
        transition: all .3s ease;
        &:after{
            font-family: FontAwesome;
            content: "\f007";
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            font-size: 100px;
            background: #ECF0F1;
            color: #34495e;
            text-align: center;
        }
    }
    .upload-button {
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
        .fa-arrow-circle-up{
            position: absolute;
            font-size: 85px;
            top: 32px;
            left: 32px;
            text-align: center;
            opacity: 0;
            transition: all .2s ease;
            color: #34495e;
        }
        &:hover .fa-arrow-circle-up{
            opacity: .9;
        }
    }
}

.feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
}
